:root {
  --color0: #aaa;
  --color3: #111;

  --tab-size: 10px;
}



html, body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Ukrywa paski przewijania */
  user-select: none;
}

input {
  color: white;
  background-color: var(--color3);
  margin: 0;
}

textarea {
  text-decoration: none;
  background-color: var(--color3);
  color: white;
  border-radius: 0;
  padding: 8px 12px;
  border: 0;
  margin: 0;
  outline: none;
}





.dropdown-menu {
  position: absolute;
  right: 0;
}

.dropdown-menu a {
  display: block;
  padding: 1px 5px;
  text-decoration: none;
  color: white;
}

.dropdown-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  right: 0;
  display: none;
  background-color: #222;
  width: 200px;
}

.dropdown-menu ul li {
  display: block;
  width: 100%;
  height: 100%;
}

.dropdown-menu ul li a {
  padding: 8px 15px;
  cursor: pointer;
}

.dropdown-menu ul li a:hover {
  background-color: #444;
}

.dropdown-menu:hover ul {
  display: block;
}





.nameBorder {
  border-bottom: 1px var(--color0) solid;
  display: flex;
  align-items: center;
}


.container {
  display: grid;
  grid-template-columns: 260px auto;
  grid-template-rows: 55% auto;
  gap: 1px;
  background-color: var(--color0);
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.item {
  display: grid;
  grid-template-rows: 20px auto;
}



.hierarchyBox {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  background-color: black;
}

.inspectorBox {
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
  background-color: black;
  height: 100vh;
}

.filesBox {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  background-color: black;
}



#hierarchy {
  padding: 2px;
  overflow-x: hidden;
  overflow-y: scroll; /* dodanie suwaka tylko w osi Y */
}

#inspector {
  height: 100%;
  padding-left: 6px;
  overflow-x: hidden;
  overflow-y: scroll;
}

#files {
  padding: 2px;
  height: 50vh;
  overflow-x: hidden;
  overflow-y: scroll;
}




.tab, .tab1 {
  margin-left: var(--tab-size);
}

.tab2 {
  margin-left: calc(var(--tab-size) * 2);
}

.tab3 {
  margin-left: calc(var(--tab-size) * 3);
}

.tab4 {
  margin-left: calc(var(--tab-size) * 4);
}

.tab5 {
  margin-left: calc(var(--tab-size) * 5);
}


.inspectorContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.inspectorDiv {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.inspectorItem {
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
}

.rowStyle {
  display: flex;
}

.section {
  padding-bottom: 8px;
  border-bottom: 2px var(--color3) solid;
  margin-top: 16px;
}

.valueInput {
  padding: 2px;
  margin: 2px;
  display: flex;
  justify-content: space-between;
}

.headerOfSection {
  padding: 0;
  margin: 2px;
  display: flex;
  justify-content: space-between;
}

.addNewComponent {
  display: table;
  align-self: center;
  margin: 16px 0 0 24px;
  background-color: var(--color3);
  padding: 4px 6px;
  width: fit-content;
}




.textEditorExitButton {
  position: absolute;
  top: 2px;
  right: 2px;
}

.textEditorTextarea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}



input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #222;
  border-radius: 0;
  cursor: pointer;
  vertical-align: middle;
}

input[type="checkbox"]:checked {
  background-color: #222;
}

/* Styl dla pseudoelementu ::before (ptaszka) */
input[type="checkbox"]::before {
  content: '\2713'; /* Kod Unicode dla ptaszka */
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
  line-height: 20px;
  color: white; /* Kolor ptaszka */
  opacity: 0; /* Ukryj ptaszka na początku */
}

input[type="checkbox"]:checked::before {
  opacity: 1;
}
