.dropdown-menu {
  position: absolute;
  right: 0;
  z-index: 1;
}

.dropdown-menu a {
  display: block;
  padding: 1px 5px;
  text-decoration: none;
  color: white;
}

.dropdown-menu a:hover {
  color: #fbf;
}

.dropdown-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  right: 0;
  display: none;
  background-color: #222;
  width: 200px;
}

.dropdown-menu ul li {
  display: block;
  width: 100%;
  height: 100%;
}

.dropdown-menu ul li a {
  padding: 8px 15px;
  cursor: pointer;
}

.dropdown-menu ul li a:hover {
  background-color: #444;
}

.dropdown-menu:hover ul {
  display: block;
}

#popup-load {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), black);
}

#popup-load div {
  margin-top: 50vh;
}

#popup-load a {
  display: block;
  background-color: black;
  padding: 20px 50px;
  border: 4px solid white;
  margin: 60px auto;
  text-decoration: none;
  color: white;
  font-size: 60px;
  width: 500px;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
  transition-duration: 200ms;
}

#popup-load a:hover {
  background-color: #444;
}

.textEditorExitButton {
  position: absolute;
  z-index: 3;
  top: 2px;
  right: 4px;
  font-weight: bold;
}

.textEditorTextarea {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
