@import "./config.css";
@import "./header.css";
@import "./hierarchy.css";
@import "./files.css";
@import "./inspector.css";

:root {
  --col0: #aaa;
  --col1: #111;
  --col2: #fbf;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-color: black;
  color: white;
  user-select: none;
}

input {
  background-color: var(--col1);
  color: white;
}

textarea {
  border: 0;
  padding: 8px 12px;
  outline: none;
  background-color: var(--col1);
  color: white;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  accent-color: var(--col2);
  cursor: pointer;
}

input[type="checkbox"]:not(:checked) {
  opacity: 0.2;
}

.nameBorder {
  border-bottom: 1px var(--col0) solid;
  display: flex;
  justify-content: space-between;
}

.nameBorder a {
  margin-inline: 5px;
  cursor: pointer;
}

.nameBorder a:hover {
  color: red;
  transition: 120ms;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 320px auto;
  grid-template-rows: 55vh auto;
  gap: 1px;
  overflow: hidden;
  background-color: var(--col0);
}

.item {
  display: grid;
  grid-template-rows: 20px auto;
}

.tab,
.tab1 {
  margin-left: var(--tab-size);
}

.tab2 {
  margin-left: calc(var(--tab-size) * 2);
}

.tab3 {
  margin-left: calc(var(--tab-size) * 3);
}

.tab4 {
  margin-left: calc(var(--tab-size) * 4);
}

.tab5 {
  margin-left: calc(var(--tab-size) * 5);
}
